---
---

@import "variables";

h1 {
  font-weight: normal;
  color: #fff;
}

.cover {
  background-image: url("{{ site.baseurl }}/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}

.header {
  * {
    color: #fff;
    &:hover, &:active {
      color: #fff;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 820px;
  padding: 10px;
  width: 100%;
}

.headText {
  margin: 0 auto;
  padding: 10px 20px 40px 25px;
  width: 100%;
  text-align: left;
  //line-height: 1.4;

  @include mobile {
    text-align: center;
    padding: 10px 10px 40px 10px;
  }
}

@import "custom-btn";

.circlePlate {
    border-radius: 8%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.circleUser {
    width: 120px;
    height: 120px;
    overflow: hidden; // auto-crop image to fit the set rounded border
    border: 2px solid #34a;

    img {
      width: 100%;
    }

    @include mobile {
      //width: 50%;
      margin: 0 auto; // centering div on mobile
    }
}

.infoText {
  font-size: 16px;
  line-height: 1.4;
}

.middle {
  text-align: center;
  background-color: #34a; //34a, 35a
  padding: 20px 0px 20px 0px;
}

.social {
  
  @include mobile {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navLinks {
  color: #fff;
  padding-right: 25px;
  text-align: right;
  font-weight: 400;
    &:hover, &:active {
      color: #fff;
    }

  @include mobile {
    text-align: center;
    display: none;
  }
}

.navLinks.navLinks-alt {
  display: none;

  * {
    color: #fff;
    &:hover, &:active {
      color: #fff;
    }
  }

  a {
    margin: 0px 10px 0px 10px;
  }

  @include mobile {
    display: block;
    padding: 10px 0px 5px 0px;
  }
}


