---
---

@import "variables";

h1 {
  font-weight: normal;
  color: #fff;
}

.header {
  * {
    color: #fff;
    &:hover, &:active {
      color: #fff;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 10px;
  width: 100%;
}

.head-content {
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  width: 100%;
  //line-height: 1.4;

  @include mobile {
    text-align: center;
  }
}

.info-text {
  font-size: 16px;
  line-height: 1.4;
}

.nav-links {
  color: #fff;
  text-align: right;
  font-weight: 400;
    &:hover, &:active {
      color: #fff;
    }
  @include mobile {
    text-align: center;
  }
}










