---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    {% include head.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/home/home.css" />

    <!-- columns support lib -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/col.css">

    {% include analytics.html %}

  </head>

  <body>

  <div class="cover">
    
    <div class="container">
        <div class="section group header">
          <div class="col span_4_of_5">
              <div class="headText">
                <div class="userAvatarPlate userAvatar">
                  <img src="{{ site.avatar }}" width="120px;">
                </div>
                <h1>{{ site.name }}</h1>
                <div class="infoText">
                  I study this<br>
                  I am a Web Developer<br>
                  I'm involved in this<br>
                  ...and in this<br>
                  ...and in that!<br>
                </div>
              </div>
          </div>
          <div class="col span_1_of_5">
            <div class="content navLinks">
                <a href="{{ site.baseurl }}/blog" class="btn-elegant">BLOG</a><br>
                <a href="{{ site.baseurl }}/projects" class="btn-elegant">PROJECTS</a><br>
                <a href="{{ site.baseurl }}/about" class="btn-elegant">ABOUT</a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="middle">
    <div class="social">
      {% include svg-icons.html %}
    </div>
    <div class="content navLinks navLinks-alt">
        <a href="{{ site.baseurl }}/blog">BLOG</a>
        <a href="{{ site.baseurl }}/projects">PROJECTS</a>
        <a href="{{ site.baseurl }}/about">ABOUT</a>
    </div>
  </div>

  <div class="container">
    <div class="section group">
      <div class="col span_3_of_5">
        <div class="news newsSectionTitle"><strong>Latest from blog</strong></div>
          {% for post in site.posts limit: site.home.max_posts %}
            <div class="news newsEntry">
              <span class="news newsTitle">{{ post.title }}</span>
              <div class="news newsDate">{{ post.date | date: "%d %B %Y" }}</div>
              {% if post.subtitle %}
                <br>
                <div>
                  {{ post.subtitle | truncatehtml | truncatewords: 20 }}
                  <br><br>
                  <span class="news newsDate"><a href="{{ post.url }}">Read more...</a></span>
                </div>
              {% else %}
                <div>
                  {{ post.content | truncatehtml | truncatewords: 20 }}
                  <span class="news newsDate"><a href="{{ post.url }}">Read more...</a></span>
                </div>
              {% endif %}
            </div>            
          {% endfor %}
      </div>
      <div class="col span_2_of_5">
        {% if site.home.show_updates %}
          <div class="news newsSectionTitle"><strong>Projects Updates</strong></div>
          text 
        {% endif %}
      </div>
    </div>
  </div>

  {% include footer.html %}

  </body>
</html>

