---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    {% include head.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/js/velocity.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/home.css" />
    

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/col.css">

    {% include analytics.html %}

  </head>

  <body>

  <div style="background-color: #34a;">
    <div class="container">

        <div class="section group header">
          <div class="col span_4_of_5">
            
              <div class="content" align="left" style="padding-right:20px;">
                <p><img src="{{ site.baseurl }}/images/me.png" width="120px;"></p>
                <h1>{{ site.name }}</h1>
                <div class="info-text">
                  Computer Engineering student<br>
                  Web Developer<br>
                  EESTEC International IT Team Coordinator<br>
                  Chairman of Youth Engineering Lab<br>
                  Contact Person at EESTEC JLC Catania<br>
                  Board Assistant of Youth Hub Catania<br>
                </div>
                <div>
                  <br>
                  <p><b>
                  TWITTER | FACEBOOK | LINKEDIN
                  </b></p>
                </div>
              </div>

          </div>
          <div class="col span_1_of_5">
            
            <div class="content nav-links">
                <p><a href="{{ site.baseurl }}/blog">BLOG</a></p>
                <p><a href="{{ site.baseurl }}/projects">PROJECTS</a></p>
                <p><a href="{{ site.baseurl }}/about">ABOUT</a><br></p>
            </div>

          </div>
        </div>

    </div>

  </div>
  </body>
</html>

<!--
<div>
  {% for category in site.categories %}
    {{page.categories}}<br>
  {% endfor %}  
</div>
<br>
-->

<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <div class="date">
        {{ page.date | date: "%B %e, %Y" }}
      </div>

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
-->