---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    {% include head.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/js/velocity.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/home.css" />
    

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/col.css">

    {% include analytics.html %}

  </head>

  <body>

    <div class="container">
        <div class="section group">
        <h3>Two Columns</h3>
        </div>

        <div class="section group">
          <div class="col span_2_of_5" style="background-color:red;">
          2 of 5
          </div>
          <div class="col span_3_of_5" style="background-color:red;">
          3 of 5
          </div>
        </div>
    </div>

  </body>
</html>

<!--
<div>
  {% for category in site.categories %}
    {{page.categories}}<br>
  {% endfor %}  
</div>
<br>
-->

<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <div class="date">
        {{ page.date | date: "%B %e, %Y" }}
      </div>

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
-->