---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* CSS DEBUG */
/**************/


* *:hover { border:2px solid #89A81E }
* * *:hover { border:2px solid #F34607 }
* * * *:hover { border:2px solid #5984C3 }
* * * * *:hover { border:2px solid #CD1821 }
* * * * * *:hover { border:2px dotted #89A81E }
* * * * * * *:hover { border:2px dotted #F34607 }
* * * * * * * *:hover { border:2px dotted #5984C3 }
* * * * * * * * *:hover { border:2px dotted #CD1821 }


/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 10px;
  width: 100%;
}

.big_container {
  min-height: 500px;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 40px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  //color: $blue;
  color: #34a;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    //color: $blue;
    color: #34a;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  //font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  color: $gray;
}

.post-link {
  font-size: 16px;
  color: $gray;
  a {
    font-size: 18px;
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background-color: #34a;
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  //border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  h3 {
    font-size: 20px;
  }

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  //color: $darkGray;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 28px/4.8;
  //letter-spacing: 1px;

  a {
    color: #fff;
  }

  @include mobile {
    font-size: 32px;
  }
}

.site-description {
  margin: -5px 0 0 0;
  //color: $gray;
  color: #fff;
  font-size: 16px;
  font-weight: 300;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  //font-family: $helveticaNeue;
  //font-family: 'Roboto', sans-serif;
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    //color: $darkGray;
    color: #fff;
    text-align: right;
    font-weight: 400;
    //letter-spacing: 1px;
    &:hover, &:active {
      //color: $blue;
      color: #fff;
    }

    @include mobile {
      margin: 0 10px;
      //color: $blue;
      color: #fff;
    }
  }

}

.myfixed {
  position:fixed; top:2%; right:2%;
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {

  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 1.6;
  
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
  //font-family: $helveticaNeue;
  font-color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

    @include mobile {
      line-height: 1.4;
    }
  }

  .post-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0.4em;
  }

  .post-details {
    font-size: 14px;
    margin-bottom: 0.5em;
  }

  .share-post {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 14px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.category {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
}

.wrapper-footer {
  margin-top: 50px;
  //border-top: 1px solid #ddd; // original ugly stuff
  //border-bottom: 1px solid #ddd; // original ugly stuff
  //background-color: $lightGray; // original ugly stuff
}

.line-separator{
  height:1px;
  //background:#717171;
  border-bottom: 1px solid #ddd;
}

footer {
  font: 14px/1.2;
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
