    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.png" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.png" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js" defer></script>
    <script type="text/javascript" src="/js/velocity.min.js" defer></script>
    <script type="text/javascript" src="/js/page_anchors.js" defer></script>

     {% if page.custom_css %}
       {% for stylesheet in page.custom_css %}
         <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
       {% endfor %}
     {% endif %}
 
     {% if page.custom_js %}
       {% for js_file in page.custom_js %}
        <script type="text/javascript" src='/js/{{ js_file }}.js' defer></script>
       {% endfor %}
     {% endif %}
