
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% elsif site.name %}
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="twitter:title" content="{{ site.title }}" />
    {% endif %}

    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary" />

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}" />

    <meta property="og:image" content="{{ site.url }}/assets/images/meta_icon.jpg" />
    <meta property="twitter:image" content="{{ site.url }}/assets/images/meta_icon.jpg" />

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="twitter:description" content="{{ page.description }}" />
    {% elsif site.description %}
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="twitter:description" content="{{ site.description }}" />
    {% endif %}

    <meta property="og:site_name" content="{{ site.name }}" />
    {% if site.social-links.twitter %}
    <meta property="twitter:site" content="@{{ site.social-links.twitter }}" />
    {% endif %}

    {% if page.author %}    
    <meta name="author" content="{{ page.author }}" />
    {% elsif site.author %}
    <meta name="author" content="{{ site.author }}" />
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% endif %}
