    
    <nav>
      <a href="http://blog.fpira.com">Tumblr</a>
      <a href="{{ site.baseurl }}/archive">Archive</a>
      <a href="{{ site.baseurl }}/projects">Projects</a>
      <a href="{{ site.baseurl }}/about">About</a>
    </nav>
    
    <!--
    <nav>
      <a href="http://blog.fpira.com"><b>Tumblr</b></a>
      <a href="{{ site.baseurl }}/archive"><b>Archive</b></a>
      <a href="{{ site.baseurl }}/projects"><b>Projects</b></a>
      <a href="{{ site.baseurl }}/about"><b>About</b></a>
    </nav>
    -->