
    <form method="get" class="searchbox" action="https://duckduckgo.com/">
        <!-- using parameteres at https://duckduckgo.com/params -->
        <input type="hidden" name="sites"value="{{ site.url }}" /> <!-- website URL -->
        <input type="hidden" name="ka" value="h"/> <!-- Helvetica as link font -->
        <input type="hidden" name="k7" value="#fff"/> <!-- background color -->
        <input type="hidden" name="kj" value="#34a"/> <!-- header color -->
        <input type="hidden" name="ky" value="#eee"/> <!-- highlight color -->
        <input type="hidden" name="kx" value="#34a"/> <!-- URLs color -->
        <input type="hidden" name="kt" value="Helvetica"/> <!-- text font -->
        <input type="text" name="q" maxlength="255" placeholder="Search..."/>
        <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
    </form>
