
<div>

<a href="https://twitter.com/share?url={{ page. }}&text=%22Reveal.js%20:%20generate%20pdf%20using%20phantomjs%22+by+@revathskumar">Share on twitter</a>

</div>



https://twitter.com/share?url={{}}&text=%22Reveal.js%20:%20generate%20pdf%20using%20phantomjs%22+by+@revathskumar

https://www.facebook.com/sharer/sharer.php?u=http://blog.revathskumar.com/2014/12/revealjs-generate-pdf-using-phantomjs.html&t=%22Reveal.js%20:%20generate%20pdf%20using%20phantomjs%22

https://plus.google.com/share?url=http://blog.revathskumar.com/2014/12/revealjs-generate-pdf-using-phantomjs.html&text=%22Reveal.js%20:%20generate%20pdf%20using%20phantomjs%22