//
// FOOTER CSS
//

.wrapper-footer {
  margin-top: 50px;
  //border-top: 1px solid #ddd; // original ugly stuff
  //border-bottom: 1px solid #ddd; // original ugly stuff
  //background-color: $lightGray; // original ugly stuff
}

footer {
  font-size: 16px;
  line-height: 1.2;
  padding: 20px 0;
  margin-bottom: 3em;
  text-align: center;
}
