
/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background-color: $darkBlue; // change color of navbar
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  //border-bottom: 1px solid $lightestGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  h3 {
    font-size: 20px;
  }

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name { // edit this to change appearance of name in navbar
  margin: 0;
  color: $white;
  cursor: pointer;
  font-weight: 400;
  font-size: 28px/4.8;
  //letter-spacing: 1px;

  a {
    color: $white;
  }

  @include mobile {
    font-size: 32px;
  }
}

.site-description { // edit this to change appearance of the line under the name in navbar
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;
  font-weight: 300;

  @include mobile {
    margin: 3px 0;
  }
}

nav { // edit this to change navbar appearance
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  margin-right: 20px;
  font-family: $defaultSansSerif; 
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $white; // navbar links color
    text-align: right;
    font-weight: 300;
    //letter-spacing: 1px;
    &:hover, &:active {
      color: $white; // hover color for navbar links
      //text-decoration:underline; // uncomment this to underline navbar links
    }

    @include mobile {
      margin: 0 10px;
      color: $white; // hover color for navbar links on mobile
    }
  }

}

.searchbox {
  //float: left;
  font-family: $defaultSansSerif;
  width: 100%;
  max-width: 180px;
  margin: 0px;
  margin-left: 0px;
  padding: -1px;
  line-height: 1px;

  @include mobile {
    max-width: 180px;
    margin: 0px 15px 0px 15px;
  }

  input {
    width: 100%;
    height: 35px;
    font-family: $defaultSansSerif;
    font-size: 16px;  
    background-color: transparent; // #fafafa;
    border: 1px solid $lightestGray;
    padding: 6px 4%;
    color: $gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &:focus {
      color: $darkerGray; // color of typed text
      outline: none;
      border-color: $blue;
      background-color: $white;
    }
  }
}
