//
// PAGES
//

.page-title {
  @include mobile{
    text-align: center;
  }
}

.page-options {
  h5 {
    font-size: 20px;
    color: $gray;
  }

  @include mobile {
    text-align: center;
  }
}

.social {
  text-align: center;
  @include mobile {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.safe-email {
  a {
    font-family: $defaultSansSerif;
    letter-spacing: -0.10em;
  }
}

.line-separator {
  height: 1px;
  //background: $darkGray;
  border-bottom: 1px solid $lightestGray;
}

.back-to-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: $white;
  border: 1px solid $lightestGray;
  border-radius: 5px;
  padding: 3px 9px 3px 9px;
  
  a {
    font-size: 14px;
    font-family: $defaultSansSerif;
    //text-transform: uppercase;
    color: $gray;
  }

  @include mobile {
    right: 4%;
  }
}
