
.video-container {
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 8%;

    @include mobile {
        padding: 0px;
    }
}

/* credits to Jonathan Suh for responsive video support
https://jonsuh.com/blog/responsive-youtube-vimeo-embed-and-html5-video-with-css/
*/

.video-wrapper {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%; /* 4:3 */
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.video-wrapper.widescreen {
    padding-bottom: 56.34%; /* 16:9 */
}

.video-wrapper.vimeo {
    padding-top: 0;
}

.video-wrapper embed, .video-wrapper iframe, .video-wrapper object, .video-wrapper video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
