
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$darkBlue: #34a; // #35a;

// bootstrap color palette // uncomment want you want to use
//$primary: #337ab7;
//$primaryHover: #286090;
//$success: #3c763d;
//$successHover: #2b542c;
//$info: #31708f;
//$infoHover: #245269;
//$warning: #8a6d3b;
//$warningHover: #66512c;
//$danger: #a94442;
//$dangerHover: #843534;

// Grays
$black: #000;
$darkestGray: #222;
$darkerGray: #333;
$darkGray: #404040;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Default fonts. Change here to change site-wide
$defaultSerif: 'Merriweather', serif;
$defaultSansSerif: 'Roboto', sans-serif;

// change
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin smallscreen {
  @media screen and (min-width: 641px) and (max-width: 991px){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 992px) {
    @content;
  }
}

