---
---

@import "variables";

body {
  font-size: 16px;
}

h1 {
  font-weight: normal;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;

  @include mobile {
    line-height: 1.0;
  }
}

.cover {
  background-image: url("{{ site.baseurl }}/assets/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}

.header {
  * {
    color: $white;
    &:hover, &:active {
      color: $white;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 820px;
  padding: 10px;
  width: 100%;
}

//
// .top
//

.headText {
  margin: 0 auto;
  padding: 10px 20px 40px 25px;
  width: 100%;
  text-align: left;
  //line-height: 1.4;

  @include mobile {
    text-align: center;
    padding: 10px 10px 40px 10px;
  }
}

.userAvatarPlate {
    border-radius: 8%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.userAvatar {
    width: 120px;
    height: 120px;
    overflow: hidden; // auto-crop image to fit the set rounded border
    border: 2px solid $lightGray;

    img {
      width: 100%;
    }

    @include mobile {
      //width: 50%;
      margin: 0 auto; // centering div on mobile
    }
}

.infoText {
  font-size: 16px;
  //color: $lightGray;
  line-height: 1.4;
}

//
// mid section
//

.middle {
  text-align: center;
  background-color: $darkGray; //$darkBlue
  padding: 20px 0px 20px 0px;
}

nav {                   // these settings overwrite the ones in style.scss
  margin-top: 0.4em;

  @include mobile {
    display: none;
  }

}

.wrapper-masthead {     // these settings overwrite the ones in style.scss
  margin-bottom: 0px;

  @include mobile {
    display: none;
  }
  
}

.masthead {             // these settings overwrite the ones in style.scss
  padding: 10px 0;

  @include mobile {
    text-align: center;
  }
}

.navLinks {
  color: $white;
  padding-right: 25px;
  text-align: right;
  font-weight: 400;
    &:hover, &:active {
      color: $white;
    }

  @include mobile {
    text-align: center;
    display: none;
  }
}

.navLinks.navLinks-alt {
  display: none;

  * {
    color: $white;
    &:hover, &:active {
      color: $white;
    }
  }

  a {
    margin: 0px 10px 0px 10px;
  }

  @include mobile {
    display: block;
    padding: 10px 0px 5px 0px;
  }
}

//
// news section
//

.inner-container {
  padding-top: 25px;

  @include mobile {
    padding-top: 15px;
  }
}

.searchbox {           // these settings overwrite the ones in style.scss
  max-width: 240px;
  
  @include mobile {
    max-width: none;
    margin: 0px;
  }
}

.news {
  padding-top: 1.2em;

  @include mobile {
    padding-top: 0.9em;
  }
}

.sectionTitle {
  font-size: 28px;
}

.newsEntry {
  font-size: 16px;
  padding-bottom: 20px;
  margin-right: 3em;

  @include mobile {
    margin-right: 0em;
  }
}

.resEntry {
  font-size: 16px;
  padding-bottom: 20px;

  @include mobile {
    margin-right: 0em;
  }
}


.newsTitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.newsDate {
  font-size: 14px;
}


