---
---

@import "variables";

body {
  font-size: 16px;
}

h1 {
  font-weight: normal;
  color: $white;
}

.cover {
  background-image: url("{{ site.baseurl }}/assets/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}

.header {
  * {
    color: $white;
    &:hover, &:active {
      color: $white;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 820px;
  padding: 10px;
  width: 100%;
}

.headText {
  margin: 0 auto;
  padding: 10px 20px 40px 25px;
  width: 100%;
  text-align: left;
  //line-height: 1.4;

  @include mobile {
    text-align: center;
    padding: 10px 10px 40px 10px;
  }
}

@import "custom-btn";

.userAvatarPlate {
    border-radius: 8%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.userAvatar {
    width: 120px;
    height: 120px;
    overflow: hidden; // auto-crop image to fit the set rounded border
    border: 2px solid $lightGray;

    img {
      width: 100%;
    }

    @include mobile {
      //width: 50%;
      margin: 0 auto; // centering div on mobile
    }
}

.infoText {
  font-size: 16px;
  //color: $lightGray;
  line-height: 1.4;
}

.middle {
  text-align: center;
  background-color: $darkGray; //$darkBlue
  padding: 20px 0px 20px 0px;
}

.social {
  
  @include mobile {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.news {
  padding-top: 25px;

  @include mobile {
    padding-top: 15px
  }
}

.news.newsSectionTitle {
  font-size: 28px;
}

.news.newsEntry {
  font-size: 16px;
  padding-bottom: 20px; 
}

.news.newsTitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.news.newsDate {
  font-size: 14px;
}

.navLinks {
  color: $white;
  padding-right: 25px;
  text-align: right;
  font-weight: 400;
    &:hover, &:active {
      color: $white;
    }

  @include mobile {
    text-align: center;
    display: none;
  }
}

.navLinks.navLinks-alt {
  display: none;

  * {
    color: $white;
    &:hover, &:active {
      color: $white;
    }
  }

  a {
    margin: 0px 10px 0px 10px;
  }

  @include mobile {
    display: block;
    padding: 10px 0px 5px 0px;
  }
}


