---
layout: page
title: Blog
permalink: /blog/by-category/
show_title: true
---

<div>
  <h4><a href="{{ site.baseurl }}/blog">By Time</a> / By Category</h5>
  <br>

  <div>

    {% for category in site.categories %}
      <div id="{{ category | first }}">
        <li><a name="{{ category | first }}"><b>{{ category | first }}</b></a>
          <ul>
          {% for posts in category %}
            {% for post in posts %}
              <a href="{{ post.url }}">{{ post.title }}</a> {{ post.date | date: "%B %e, %Y" }} <br>
            {% endfor %}
          {% endfor %}
          </ul>
        </li>
      </div>
    {% endfor %}

  </div>
</div>
