---
layout: default
---

<article class="post">

  <div>
    <div class="post-title">
      <h2>{{ page.title }}</h2>
    </div>
    <div class="post-subtitle">
      <i>{{ page.subtitle }}</i>
    </div>
    <div class="post-details">
      <strong>
        {{ page.date | date: "%B %e, %Y" }}<br>
        Category: <a href="{{ site.baseurl }}/blog/by-category#{{ page.categories }}">{{ page.categories }}</a>
      </strong>
    </div>
  </div>

  <br>

  <div class="entry">
    {{ content }}
  </div>

  {% include share-buttons.html %}

</article>
