---
layout: default
---

<article class="post">

  <div>
    <div class="post-title">
      <h2>{{ page.title }}</h2>
    </div>
    <div class="post-subtitle">
      <strong>{{ page.subtitle }}</strong>
    </div>
    <div class="post-details">
      <i>
        {{ page.date | date: "%B %e, %Y" }}<br>
        Category: <a href="{{ site.baseurl }}/blog/by-category#{{ page.categories }}">{{ page.categories }}</a>
      </i>
    </div>
  </div>

  <br>

  <div class="entry">
    {{ content }}
  </div>

  {% include share-buttons.html %}

</article>

<div class="corner-fixed">
  <span class="corner-btn"><a href="#share-links">Share</a></span>
  <span class="corner-btn"><a href="#top">&#9650;</a></span>
</div>
